html {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    line-height: 1.5rem;
}

h1, h2, h3 {
    color: #bb1b47;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h1 {
    text-transform: capitalize;
    font-weight: normal;
    letter-spacing: .1rem;
    font-size: 3.5rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.5rem;
}

.site-intro {
    font-size: 1.25rem;
}

nav a:link {
    color: orange;
}

nav a:visited {
    color: yellow;
}

nav a:hover {
    color: red;
    text-decoration: underline;
}

nav a:active {
    color: pink;
}

nav a:focus {
    color: green;
}