html {
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

*,
* ::before
* ::after {
    box-sizing: inherit;
}

nav {
    background-color: gold;
    margin: 0 auto 5px;
    width: 1100px;
}

nav ul {
    display: flex;
    justify-content: space-around;
    padding: 20px;
}

nav li {
    text-transform: uppercase;
    list-style-type: none;
    letter-spacing: 1px;
}

nav a {
    padding: 20px;
    color: #50504f;
    text-decoration: none;
}

nav a:link,
nav a:visited {
    color:#50504f;
}

nav a:hover,
nav a:active {
    background-color: goldenrod;
    text-decoration: underline;
    color: white;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.parent {
    width: 1100px;
    height: 680px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(7, 1fr); /* 7 columns each using 1 fraction of overall width */
    grid-template-rows: repeat(4, 1fr); /*4 rows each using 1 fraction of overwall width */
    grid-column-gap: 10px;
    grid-row-gap: 10px;
}

.div1 span {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 5rem;
    line-height: 50%;
}

.div1 p {
    font-size: 1.5rem;
}

/* grid-area: row start / column start / row end / column end */

.div1 { 
    grid-area: 1 / 1 / 3 / 4;
    display: flex;
    justify-content: center; 
    align-items: center;
    flex-direction: column;
    color: #919898;
}

.div2 {
    grid-area: 1 / 4 / 3 / 6; 
    background-color:darkviolet
}

.div3 {
    grid-area: 1 / 6 / 2 / 8; 
    background-color: blueviolet;
}

.div4 {
    grid-area: 2 / 6 / 3 / 8; 
    background-color: darkgoldenrod;
}

.div5 {
    grid-area: 3 / 1 / 5 / 4; 
    background-color: deeppink;
}

.div6 {
    grid-area: 3 / 4 / 4 / 5;
    background-color: khaki;
}

.div7 {
    grid-area: 3 / 5 / 4 / 6;
    background-color: lightcoral;
}

.div8 {
    grid-area: 4 / 4 / 5 / 6;
    background-color: midnightblue;
}

.div9 {
    grid-area: 3 / 6 / 5 / 8;
    background-color: honeydew;
}

footer {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}